/* Main Page (Navigate, StudyGuide) Styles */

.main-page-block {
  display: flex;
  justify-content: space-between;
  background:rgb(194, 32, 32);
  align-items: center;
  color: white;
  border-radius: 10px;
  width: 90%;
  margin: 40px auto;
  padding: 0.5em 1em;
}

.main-page-about-section {
  flex: 1;
  padding: 1em 3em;
}

.main-page-info {
  width: 100%;
  overflow-wrap: break-word;
}

.main-section-picture {
  flex: 0 1 35% 
}

.main-picture {
  width: calc(100% - 40px);
  height: auto;
  border-radius: 10px;
  margin: 20px 20px 20px 20px; 
  background-color: rgb(194, 32, 32);
}

@media (max-width: 800px) {
  .main-page-block {
    flex-direction: column;
  }
  .main-page-about-section {
    padding: 0.5em 1em; 
  }
  .main-page-info {
    width: 100%;
    margin-top: 0;
  }
}

.info-title {
  padding-bottom: 0.5em;
}

.main-page-info {
  padding-bottom: 2em;
}

.ready-to-test {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

button.btn.btn-test-link {
  color: rgb(194, 32, 32);
  padding: 0.8rem 4rem;
  font-size: 1.4rem; 
  background-color: #d4d4d4;
  transition: transform 0.3s ease;
}

button.btn.btn-test-link:hover {
  transform: scale(1.07); /* Increase the button size by 7% on hover */
}

.pass-test-navigate {
  padding-top: 1em;
  padding-bottom: 1em;
}

.discovery-guide-link {
  color: #007bff;
  text-decoration: none;
  padding-left: 0.5em;
}

.discovery-guide-link:hover {
  text-decoration: underline;
  color: #0056b3;
}




/* Secondary block styles */


.main-page-block, .secondary-page-block {
  overflow: hidden;
}

.secondary-page-block {
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
  color:#454646;
  border-radius: 10px;
  border: 1px solid #cccccc; 
  width: 90%;
  margin: 40px auto;
  padding: 0.5em 1em;
}

.secondary-page-about-section {
  flex: 1;
  padding: 1em 3em;
}

/* .secondary-info-title {} */

.secondary-page-info {
  width: 100%;
  overflow-wrap: break-word;
  padding-bottom: 2.5em;
}

.secondary-info-title {
  padding-bottom: 1em;
}

.secondary-page-picture {
  flex: 0 1 35%;
}

.secondary-picture {
  width: calc(100% - 40px);
  height: auto;
  border-radius: 10px;
  margin: 20px 20px 20px 20px; 
  background-color: white;
}

.prepare-link {
  padding-top: 2em;
}

button.btn.prepare-page-btn-link {
  color: rgb(194, 32, 32);
  padding: 0.9rem 3.1rem;
  font-size: 1.4rem; 
  font-weight: 500;
  background-color: #d4d4d4;
  transition: transform 0.3s ease;
  margin-top: 1em;  
}

button.btn.prepare-page-btn-link:hover {
  transform: scale(1.05);
}


@media (max-width: 600px) {
  .secondary-page-about-section{
    flex-direction: column;
  }
  .secondary-page-about-section {
    padding: 0.5em 1em; 
  }
  .secondary-page-info {
    width: 100%;
    margin-top: 0;
  }
}
