.test-container {
  width: 100%;  
  max-width: 100%;  
  margin: 0 auto;  
  padding-right: 0;  
  box-sizing: border-box;
}

.test-progress {
  width: 100%;  
  background-color: #f3f3f3; 
  margin-bottom: 20px;
}

.content-container {
  padding-top: 2em;
  padding-left: 6em;
  padding-bottom: 3em;
}

.questions-count {
  padding: 1em 1.5em;
  height: 3em;
  width: 12.5em;
  color: #595f6b;
  background-color: #f1f1f1b7;
  border: 1px solid #b1b1b1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
  font-size: 22px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.answers {
  color: #595f6b;
  padding-bottom: 0.5em;
}

.question-text {
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  max-width: 800px;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}


@media (max-width: 700px) {
  .question-text {
    padding-top: 2em;
  }
}

.answers-text {
  font-weight: 600;
  font-size: 21px;
  padding-bottom: 2em;
  color: #535454;
  max-width: 800px;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.answer-submit-btn, .skip-question-btn {
  margin-right: 10px;
}

.btn.start-test-btn {
  margin-top: 1em;
  color:  #0477f3;
  padding: 0.9rem 5.3rem;
  font-size: 1.4rem; 
  font-weight: 500;
  background-color: white;
  transition: transform 0.3s ease;
  margin-top: 1em;
  margin-bottom: 3em;
}


/* Test Timer Position */
.timer-questioncount {
  display: flex;
  align-items: center; 
  width: 100%; 
}

.test-timer {
  order: 2;
  flex-shrink: 0;
  padding-left: 3em;
  margin-bottom: 1.2em;
}



@media (max-width: 700px) {
  .content-container {
    padding: 1em;
  }
/* 
  .test-timer {
    top: 550px;
    right: 150px;
    width: 20px;
    height: 20px;
  } */

  .answer-submit-btn, .skip-question-btn, .start-test-btn {
    margin-bottom: 10px;
  }
}



/* Skipped Questions Page Style */
.skips-container {
  width: 100%;  
  max-width: 100%;  
  margin: 0 auto;  
  padding-right: 0;  
  box-sizing: border-box;
}

.scips-content-container {
  padding-top: 3em;
  padding-left: 4em;
  padding-bottom: 5em;
}

.skips-question-text {
  margin-bottom: 1em;
  margin-top: 1.5em;
}

.skips-answers-text {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 21px;
  padding-bottom: 0.5em;
  color: #535454;
}

.skips-submit-answer-btn {
  margin-right: 10px;
}

.prev-skip-btn {
  margin-right: 10px;
}

.skips-explain {padding-top: 1em;}



/* Test result/score */

.test-result {
  background-color: white;
  border-radius: 8px;
  padding: 3.5em;
  margin: 20px auto;
  max-width: 600px;
  max-width: 100%;
  border-top: 1.5px solid #f5f6f8; 
  border-bottom: 1.5px solid #f5f6f8;
}

.test-score h5 {
  margin: 10px 0;
  color: #333;
}

.incorrect-qa {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1.5px solid #f5f6f8; /* separation */
}

.incorrect-qa h4 {
  color: #dc3545;
  margin-bottom: 15px;
}

.incorrect-qa h5, .incorrect-qa h6 {
  margin: 5px 0;
  color: #495057;
}

.discovery-guide-link, .test-result a {
  color: #007bff;
  text-decoration: none;
}

.discovery-guide-link:hover, .test-result a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.result-page-links {
  color: black;
  font-size: 22px;
  padding-top: 0.5em;
}




/* Q/A content container responsiveness */

@media (max-width: 700px) {
  .content-container {
    padding: 80px 1em 3em;
  }
}

