.timer-wrapper {
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
}

.timer-value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  font-weight: 700;
  color:  rgb(122, 177, 236);
}

.timer-text {
  color: gray;
}

